*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color:#ddd;

}


.navContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-size: 1em;
    opacity: 0.7;
}

.title{
    min-height: 80px;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: 500;
    color:  rgb(67, 114, 77);

}


nav{
    background-color: rgb(67, 114, 77);

}


ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    background-color: rgb(67, 114, 77);
    margin-left: 1px;
    white-space: nowrap;
    font-size: 1em;
}

ul li a:hover {
    background: rgb(96, 138, 105);
}


li:hover a {
   color: #ddd;
}


/* Media Queries */

 @media all and (min-width: 600px) {

    .navContainer{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .myMenu li {
        display: inline-block;
        border-bottom: 0;
 }

li:hover li{
    font-size: 11px;
}

}

